

*.pyc
*.pkl
*.xml
*.iml
*.pem
*.crt
*.key
*.srl
*.old
*.cnf
*.png
*.uml
*.jpg
*.pdf
*.csv
*.xlsx
*.bin
*.sqlite3
*.log
*.otf
*.eot
*.svg
*.ttf
*.woff


venv/*
.idea/
__pycache__/
fonts/
images/

/cert/
/doc/
/media/
/ml/
/secrets.json
/static/
