<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

{% include "dashboard/head.html" %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/default.css' %}" media="all">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/fonts.css' %}" media="all">

<body>
<div id="header-wrapper">
    <div id="header" class="container">
        <div id="menu">
            <ul>
                <li class="current_page_item"><a href="{% url 'dashboard:index' %}" accesskey="1" title="">Homepage</a>
                </li>
                <li><a href="{% url 'dashboard:subjects' %}" accesskey="2" title="">Dashboard</a></li>
                <li><a href="{% url 'admin:index' %}" accesskey="3" title="">Administration</a></li>
                {% if request.user.is_superuser %}
                    <li><a href="{% url 'dashboard:utils' %}" accesskey="4" title="">Utils</a></li>
                {% endif %}
            </ul>
        </div>
        {% include "dashboard/logo.html" %}
        <a href="https://www.interreg-central.eu/Content.Node/niCE-life.html" rel="nofollow">
            <img src="{% static 'dashboard/images/logo.png' %}"/>
        </a>
    </div>
</div>
<div id="wrapper1">
    <div id="welcome" class="container">
        <div id="welcome" class="container">
            <div class="title">
                <h2>Welcome to Intelligent sleep monitoring system</h2>
                <span class="byline">A system created thanks to
                    <a href="https://www.interreg-central.eu/Content.Node/niCE-life.html">
                        niCE-life, INTERREG CENTRAL EUROPE</a>
                    support
                </span>
            </div>
            <div class="content">
                <p>This site was created to manage study about sleep disorders using
                    <a href="https://www.activinsights.com/products/geneactiv/">GENEActiv actigraph</a> and to present
                    its results. Site consists of this parts:
                    <a href="{% url 'dashboard:subjects' %}" title="">Dashboard</a>,
                    that presents the results of the study subject by subject.
                    <a href="admin:index" title="">Administration</a> site used to login &amp manage the system.
                    Administrators of the system can access <a href="{% url 'dashboard:utils' %}">Utils</a> page that
                    contains commands to perform batch operations.
                </p>

                <a href="{% url 'dashboard:subjects' %}" class="button">Dashboard</a>
            </div>
        </div>
    </div>
</div>
<div id="wrapper3">
    <div id="portfolio" class="container">
        <div class="title">
            <h2>Searching for more information?</h2>
            <span class="byline">Those are the related web pages to help you find more info</span></div>
        <div class="column">
            <div class="box">
                <a href="https://www.vutbr.cz/">
                    <img src="{% static 'dashboard/images/vutbr.png' %}" alt="" class="image image-full"/>
                </a>
                <h3>Brno University of Technology</h3>
                <p>See the details about the institution that stands behind the system.</p>
                <a href="https://www.vutbr.cz/" class="button button-small">Visit site</a>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <a href="https://bdalab.utko.feec.vutbr.cz/"><img
                        src="{% static 'dashboard/images/bda.png' %}" alt="" class="image image-full"/></a>
                <h3>BDALab</h3>
                <p>Find more information about team that created the system.</p>
                <a href="https://bdalab.utko.feec.vutbr.cz/" class="button button-small">Visit site</a>
            </div>
        </div>
        <div class="column">
            <div class="box">
                <a href="https://www.interreg-central.eu/Content.Node/niCE-life.html"><img
                        src="{% static 'dashboard/images/nicelife.png' %}" alt="" class="image image-full"/></a>
                <h3>niCE-life</h3>
                <p>Project supported by Interreg CENTRAL EUROPE, innovation and knowledge development.</p>
                <a href="https://www.interreg-central.eu/Content.Node/niCE-life.html" class="button button-small">Visit
                    site</a>
            </div>
        </div>
        <div class="column">
            <div class="box"><a href="https://github.com/BDALab/sleep-analysis-system"><img
                    src="{% static 'dashboard/images/github.png' %}" alt="" class="image image-full"/></a>
                <h3>Source codes</h3>
                <p>Source codes of the project are accessible via its Github repository.</p>
                <a href="https://github.com/BDALab/sleep-analysis-system" class="button button-small">Visit site</a>
            </div>
        </div>
        <div class="column">
            <div class="box"><a href="https://www.activinsights.com/"><img
                    src="{% static 'dashboard/images/activinsights.png' %}" alt="" class="image image-full"/></a>
                <h3>Activinsights</h3>
                <p>Visit the website of the manufacturer of GENEActiv actigraph.</p>
                <a href="https://www.activinsights.com/" class="button button-small">Visit site</a>
            </div>
        </div>
        <div class="column">
            <div class="box"><a href="https://www.nature.com/articles/s41598-018-31266-z#data-availability"><img
                    src="{% static 'dashboard/images/dataset.png' %}" alt="" class="image image-full"/></a>
                <h3>Dataset</h3>
                <p>Open source dataset of actigraphy and polysomnography data.</p>
                <a href="https://www.nature.com/articles/s41598-018-31266-z#data-availability"
                   class="button button-small">Visit site</a>
            </div>
        </div>
        <div class="column">
            <div class="box"><a href="https://www.djangoproject.com/"><img
                    src="{% static 'dashboard/images/django.png' %}" alt="" class="image image-full"/></a>
                <h3>Django</h3>
                <p>System was created based on the web framework Django.</p>
                <a href="https://www.djangoproject.com/" class="button button-small">Visit site</a>
            </div>
        </div>
        <div class="column">
            <div class="box"><a href="https://xgboost.ai/"><img
                    src="{% static 'dashboard/images/xgboost.png' %}" alt="" class="image image-full"/></a>
                <h3>XGBoost</h3>
                <p>Predictions of sleep are made with XGBoost algorithm.</p>
                <a href="https://xgboost.ai/" class="button button-small">Visit site</a>
            </div>
        </div>
    </div>
</div>

{% include "dashboard/license.html" %}
</body>
</html>
