{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'dashboard/default.css' %}" media="all">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/fonts.css' %}" media="all">
<html xmlns="http://www.w3.org/1999/xhtml">

<div id="copyright">
    <div class="plain-column">
        <a href="https://www.interreg-central.eu/Content.Node/niCE-life.html" rel="nofollow">
            <img class="image-smaller" src="{% static 'dashboard/images/logo-with-b.png' %}">
        </a>
    </div>
    <p>&copy; Intelligent sleep monitoring tool. All rights reserved.
        | Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
                href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a> licenced under <a
                href="https://creativecommons.org/licenses/by/3.0/legalcode">Creative Commons Attribution 3.0</a>
        | Some data are from <a href="https://doi.org/10.5281/zenodo.1160410">Newcastle polysomnography and
            accelerometer data</a> licenced under <a href="https://creativecommons.org/licenses/by/4.0/legalcode">Creative
            Commons Attribution 4.0 International</a>
        | Created by <a href="https://www.vutbr.cz/en/">BUT</a>,
        <a href="https://bdalab.utko.feec.vutbr.cz/">BDALab</a>
        with the support of <a href="https://www.interreg-central.eu/Content.Node/niCE-life.html">INTERREG CENTRAL
            EUROPE</a>
        | Source codes are located on <a href="https://github.com/BDALab/sleep-analysis-system">Github</a>
        and <a href="https://gitlab.com/MarekMikulec/geneactiv-processing-data.git">GitLab</a>.
    </p>
</div>

</html>