<!DOCTYPE html>
<html lang="en">
<body>
<div id="logo">
    <h1><a href="#">Intelligent sleep monitoring tool</a></h1>
    <span>Created by <a href="https://www.vutbr.cz/en/"
                        rel="nofollow">BUT</a>,
        <a href="https://bdalab.utko.feec.vutbr.cz/"
           rel="nofollow">BDALab</a>
        with the support of <a href="https://www.interreg-central.eu/Content.Node/niCE-life.html"
                               rel="nofollow">INTERREG CENTRAL EUROPE</a>
    </span>
    <span>&amp Designed by <a href="http://templated.co" rel="nofollow">TEMPLATED</a></span>
</div>
</body>
</html>