<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

{% include "dashboard/head.html" %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/default.css' %}" media="all">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/fonts.css' %}" media="all">

<body>
<div id="header-wrapper">
    <div id="header" class="container">
        <div id="menu">
            <ul>
                <li><a href="{% url 'dashboard:index' %}" accesskey="1" title="">Homepage</a></li>
                <li class="current_page_item"><a href="{% url 'dashboard:subjects' %}" accesskey="2"
                                                 title="">Dashboard</a></li>
                <li><a href="{% url 'admin:index' %}" accesskey="3" title="">Administration</a></li>
                {% if request.user.is_superuser %}
                    <li><a href="{% url 'dashboard:utils' %}" accesskey="4" title="">Utils</a></li>
                {% endif %}
            </ul>
        </div>
        {% include "dashboard/logo.html" %}
    </div>
</div>
<div id="wrapper3">
    <div id="portfolio" class="container">
        <div class="title">
            <h2>Subjects of study</h2>
            <span class="byline">Manage subjects of your study</span>
        </div>
        {% if subjects %}
            {% for s in subjects %}
                <div class="small-column">
                    <div class="box">
                        <a href="{% url 'dashboard:detail' s.code %}">
                            {% if s.sex == 'M' and s.predPDorMCI %}
                                <img src="{% static 'dashboard/images/man_red.png' %}" alt=""
                                     class="image image-smaller"/>
                            {% elif s.sex == 'F' and s.predPDorMCI %}
                                <img src="{% static 'dashboard/images/woman_red.png' %}" alt=""
                                     class="image image-smaller"/>
                            {% elif s.sex == 'M' and not s.predPDorMCI %}
                                <img src="{% static 'dashboard/images/man.png' %}" alt="" class="image image-smaller"/>
                            {% elif s.sex == 'F' and not s.predPDorMCI %}
                                <img src="{% static 'dashboard/images/woman.png' %}" alt=""
                                     class="image image-smaller"/>
                            {% endif %}
                        </a>
                        <h3>Code: {{ s.code }}</h3>
                        <p>Creation date: {{ s.creation_date }}</p>
                        <a href="{% url 'dashboard:detail' s.code 'export' %}" class="button button-small">Export</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No subjects are available. Add some subjects to your study.</p>
        {% endif %}
    </div>
</div>

{% include "dashboard/license.html" %}
</body>
</html>