<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

{% include "dashboard/head.html" %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/default.css' %}" media="all">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/fonts.css' %}" media="all">

<body>
<div id="header-wrapper">
    <div id="header" class="container">
        <div id="menu">
            <ul>
                <li><a href="{% url 'dashboard:index' %}" accesskey="1" title="">Homepage</a></li>
                <li><a href="{% url 'dashboard:subjects' %}" accesskey="2" title="">Dashboard</a></li>
                <li><a href="{% url 'admin:index' %}" accesskey="3" title="">Administration</a></li>
                {% if request.user.is_superuser %}
                    <li class="current_page_item"><a href="{% url 'dashboard:utils' %}" accesskey="4" title="">Utils</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        {% include "dashboard/logo.html" %}
    </div>
</div>
<div id="wrapper3">
    <div id="portfolio" class="container">
        <div class="title">
            <h2>Super user utils</h2>
            <span class="byline">Those utils help you to manage the study.
                All the operations can take up to hours to finish.</span>
            {% if ok %}
                <h3><img src="{% static 'dashboard/images/ok.png' %}" alt="" class="image-icon"/>
                    {{ ok }}</h3>
            {% endif %}
            {% if fail %}
                {#https://www.flaticon.com/free-icon/check-mark_64563#}
                <h3><img src="{% static 'dashboard/images/fail.png' %}" alt="" class="image-icon"/>
                    {{ fail }}</h3>
            {% endif %}
            <p><a href="{% url 'dashboard:subjects' %}" class="button button-small">Back to dashboard</a></p>
        </div>
        <div class="small-column">
            <h3>Read metadata</h3>
            <p>Read metadata from metadata.xml file.</p>
            <a href="{% url 'dashboard:utils' 'metadata' %}" class="button button-small button-fix-width">Read</a>
        </div>

        <div class="small-column">
            <h3>Extract features</h3>
            <p>Preprocess data and extract features from data.</p>
            <a href="{% url 'dashboard:utils' 'preprocess' %}" class="button button-small button-fix-width">Extract</a>
        </div>

        <div class="small-column">
            <h3>Train model</h3>
            <p>Start the process of machine learning - model training.</p>
            <a href="{% url 'dashboard:utils' 'learn' %}" class="button button-small button-fix-width">Train</a>
        </div>

        <div class="small-column">
            <h3>Predict</h3>
            <p>Cache sleep prediction for all data.</p>
            <a href="{% url 'dashboard:utils' 'predict' %}" class="button button-small button-fix-width">Predict</a>
        </div>

        <div class="small-column">
            <h3>High level features</h3>
            <p>Count high level features, currently only with diary.</p>
            <a href="{% url 'dashboard:utils' 'hilev' %}" class="button button-small button-fix-width">HiLev</a>
        </div>

        <div class="small-column">
            <h3>All operations</h3>
            <p>Perform data cache, features extract and model training.</p>
            <a href="{% url 'dashboard:utils' 'all' %}" class="button button-small button-fix-width">All</a>
        </div>

        <div class="small-column">
            <h3>Sleep diaries</h3>
            <p>Works with sleep diary data - load, validate sleep/wake.</p>
            <a href="{% url 'dashboard:utils' 'validate_sleep_wake' %}" class="button button-small button-fix-width">Validate</a>
        </div>

        <div class="small-column">
            <h3>Export to pdf</h3>
            <p>Export data of all subjects into pdf (media/export).</p>
            <a href="{% url 'dashboard:utils' 'export' %}" class="button button-small button-fix-width">Export</a>
        </div>

        <div class="small-column">
            <h3>Export dataset</h3>
            <p>Export data of all subjects into excel dataset.</p>
            <a href="{% url 'dashboard:utils' 'export_dataset' %}"
               class="button button-small button-fix-width">Export</a>
        </div>
        <div class="small-column">
            <h3>Export avg dataset</h3>
            <p>Export average data of all subjects into excel dataset.</p>
            <a href="{% url 'dashboard:utils' 'export_dataset_avg' %}"
               class="button button-small button-fix-width">Export</a>
        </div>
        <div class="small-column">
            <h3>Export clinic dataset</h3>
            <p>Export average & clinic data of all subjects into excel.</p>
            <a href="{% url 'dashboard:utils' 'export_dataset_clinic' %}"
               class="button button-small button-fix-width">Export</a>
        </div>
        <div class="small-column">
            <h3>Parkinson classifier</h3>
            <p>Train parkinson classifier for FNUSA.</p>
            <a href="{% url 'dashboard:utils' 'parkinson_fnusa' %}"
               class="button button-small button-fix-width">Train</a>
        </div>
    </div>
</div>

{% include "dashboard/license.html" %}
</body>
</html>