<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

{% include "dashboard/head.html" %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/default.css' %}" media="all">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/fonts.css' %}" media="all">

<body>
<div id="header-wrapper">
    <div id="header" class="container">
        <div id="menu">
            <ul>
                <li class="current_page_item"><a href="{% url 'dashboard:index' %}" accesskey="1" title="">Homepage</a>
                </li>
                <li><a href="{% url 'dashboard:subjects' %}" accesskey="2" title="">Dashboard</a></li>
                <li><a href="{% url 'admin:index' %}" accesskey="3" title="">Administration</a></li>
                {% if request.user.is_superuser %}
                    <li><a href="{% url 'dashboard:utils' %}" accesskey="4" title="">Utils</a></li>
                {% endif %}
            </ul>
        </div>
        {% include "dashboard/logo.html" %}
    </div>
</div>
<div id="wrapper1">
    <div id="welcome" class="container">
        <div id="welcome" class="container">
            <div class="title">
                <h2>Welcome to GENEActiv data processing website</h2>
                <span class="byline">A website created as Master thesis</span></div>
            <div class="content">
                <p>This site was created to manage study about sleep disorders using <a
                        href="https://www.activinsights.com/products/geneactiv/">GENEActiv actigraph</a> and to present
                    its
                    results. But the template could be used pretty well to manage any study, even yours. There is the <a
                            href="{% url 'dashboard:subjects' %}" title="">Dashboard</a>, that presents the results of
                    the
                    study in a friendly way. And there is the <a href="../admin" title="">Administration</a> site. There
                    you
                    can manage the subjects of study, upload the data etc.
                </p>
                <a href="https://gitlab.com/MarekMikulec/geneactiv-processing-data" class="button">Source codes</a>
            </div>
        </div>
    </div>
</div>
<div id="wrapper3">
    <div id="portfolio" class="container">
        <div class="title">
            <h2>What to visit next?</h2>
            <span class="byline">Those are the related pages to help you find more info</span></div>
        <div class="column">
            <div class="box"><a href="https://www.vutbr.cz/studenti/zav-prace/detail/122674"><img
                    src="{% static 'dashboard/images/vutbr.png' %}" alt="" class="image image-full"/></a>
                <h3>Master thesis</h3>
                <p>See the details about the master thesis and the thesis itself, to find related study and more
                    infomation. The thesis is in czech language.</p>
                <a href="https://www.vutbr.cz/studenti/zav-prace/detail/122674" class="button button-small">Visit
                    site</a></div>
        </div>
        <div class="column">
            <div class="box"><a href="https://www.activinsights.com/"><img
                    src="{% static 'dashboard/images/activinsights.png' %}" alt="" class="image image-full"/></a>
                <h3>Activinsights</h3>
                <p>Visit the website of GENEActiv creators. Find more information about the device, its
                    specifications
                    etc. Similar studies are referenced here too.</p>
                <a href="https://www.activinsights.com/" class="button button-small">Visit site</a></div>
        </div>
        <div class="column">
            <div class="box"><a href="https://bdalab.utko.feec.vutbr.cz/"><img
                    src="{% static 'dashboard/images/bda.png' %}" alt="" class="image image-full"/></a>
                <h3>BDALab</h3>
                <p>Find more information about us, and about our other studies. You can find more about the major
                    study,
                    that this project was part of. </p>
                <a href="https://bdalab.utko.feec.vutbr.cz/" class="button button-small">Visit site</a></div>
        </div>
        <div class="column">
            <div class="box"><a href="https://www.nature.com/articles/s41598-018-31266-z#data-availability"><img
                    src="{% static 'dashboard/images/dataset.png' %}" alt="" class="image image-full"/></a>
                <h3>Dataset</h3>
                <p>The open source dataset presented by <i>Estimating sleep parameters using an accelerometer
                    without
                    sleep
                    diary</i> study will be used to train the datamodel. </p>
                <a href="https://www.nature.com/articles/s41598-018-31266-z#data-availability"
                   class="button button-small">Visit site</a></div>
        </div>
    </div>
</div>

{% include "dashboard/license.html" %}
</body>
</html>
