html, body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background: #333333;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1vw;
    font-weight: 400;
    color: #000000;
}


@media screen and (max-width: 1280px) {
    body {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 960px) {
    body {
        font-size: 2vw;
    }
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 640px) {
    body {
        font-size: 2.5vw;
    }
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

p, ol, ul {
    margin-top: 0;
}

ol, ul {
    padding: 0;
    list-style: none;
}

p {
    line-height: 180%;
}

strong {
}

a {
    color: #0000FF;
}

a:hover {
    text-decoration: none;
}


.container {
    margin: 0px auto;
    width: 100%;
}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

.image {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, .1);
}

.image img {
    display: block;
    width: 100%;
    height: auto;
}

.image-full {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 0 3em 0;
}

.image-smaller {
    border: 0;
    width: 90%;
    height: auto;
    margin: 2%;
}

.image-left {
    float: left;
    margin: 0.1em 1em 0.1em 0.1em;
}

.image-icon {
    align-content: center;
    height: 12px;
    width: 12px;
}

.image-centered {
    display: block;
    margin: 0 0 2em 0;
}

.image-centered img {
    margin: 0 auto;
    width: auto;
}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

ul.style1 {
}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

.button {
    display: inline-block;
    margin: 3% 0%;
    padding: 1em 2em 1em 2em;
    background: #8DCB89;
    border-radius: 8px;
    letter-spacing: 0.20em;
    line-height: 1.8em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.2em;
    color: #FFF;
}

.button:before {
    display: inline-block;
    background: #8DCB89;
    margin-right: 1em;
    min-width: 40px;
    min-height: 40px;
    line-height: 40px;
    border-radius: 20px;
    text-align: center;
    color: #272925;
}

.button-small {
    padding: 0.9em 2em;
    background: #8DCB89;
    border-radius: 5px;
    line-height: 1.8em;
    font-size: 1em;
}

.button-fix-width {
    width: 60%;
    text-align: center;
}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

.title {
    margin-bottom: 3em;
}

.title h2 {
    font-size: 2.8em;
    color: rgba(255, 255, 255, 0.9);
}

.title .byline {
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.1em;
    color: #6F6F6F;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header-wrapper {
    overflow: hidden;
    padding: 4% 2%;
    background: #8DCB89;
}

#header {
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo {
    padding: 2% 2%;
    text-align: center;
}

#logo h1 {
    font-size: 3.5em;
}

#logo a {
    text-decoration: none;
    color: #FFF;
}

#logo span {
    letter-spacing: 0.10em;
    text-transform: uppercase;
    font-size: 0.90em;
    color: rgba(255, 255, 255, 0.5);
}

#logo span a {
    color: rgba(255, 255, 255, 0.8);
}


/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu {
}

#menu ul {
    text-align: center;
}

#menu li {
    display: inline-block;
}

#menu li a, #menu li span {
    display: inline-block;
    margin-left: 0.50em;
    padding: 1em 1.5em;
    letter-spacing: 0.20em;
    text-decoration: none;
    font-size: 0.90em;
    font-weight: 600;
    text-transform: uppercase;
    outline: 0;
    color: #FFF;
}

#menu li:hover a, #menu li.active a, #menu li.active span {
}

#menu .current_page_item a {
    background: #6FC06A;
    border-radius: 8px;
    color: #FFF;
}


/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

#banner {
}

/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/

#wrapper1 {
    background: #242424;
}

#wrapper2 {
    background: #EDEDED;
}

#wrapper3 {
    overflow: hidden;
    padding: 8em 0em;
    background: #FFF;
}

#wrapper4 {
    overflow: hidden;
    padding: 8em 0em;
    background: #E74E59;
}

/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

#welcome {
    padding: 5% 2%;
    width: 96%;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
}

#welcome .content {
    padding: 0% 2%;
}


#welcome a,
#welcome strong {
    color: rgba(255, 255, 255, 0.6);
}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

#page {
}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

#content {
}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

#sidebar {
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright {
    overflow: hidden;
    padding: 1% 1%;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
}

#copyright p {
    letter-spacing: 0.20em;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.80em;
    color: rgba(255, 255, 255, 0.3);
}

#copyright a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

#portfolio {
}

#portfolio .box {
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

#portfolio h3 {
    display: block;
    padding-bottom: 1em;
    text-transform: uppercase;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.6);
}

#portfolio .title {
    text-align: center;
}

#portfolio .title h2 {
    color: rgba(0, 0, 0, 0.8);
}

.column {
    width: 21%;
}

@media screen and (max-width: 1280px) {
    .column {
        width: 29%;
    }
}

@media screen and (max-width: 960px) {
    .column {
        width: 46%;
    }
}

@media screen and (max-width: 640px) {
    .column {
        width: 96%;
    }
}

.column {
    float: left;
    margin: 2% 2%;

}

.small-column {
    width: 12.6%;
}

@media screen and (max-width: 1280px) {
    .small-column {
        width: 16%;
    }
}

@media screen and (max-width: 960px) {
    .small-column {
        width: 21%;
    }
}

@media screen and (max-width: 640px) {
    .small-column {
        width: 29%;
    }
}

.small-column {
    float: left;
    margin: 2% 2%;

}

.plain-column {
    width: 21%;
}

@media screen and (max-width: 1280px) {
    .plain-column {
        width: 29%;
    }
}

@media screen and (max-width: 960px) {
    .plain-column {
        width: 46%;
    }
}

@media screen and (max-width: 640px) {
    .plain-column {
        width: 96%;
    }
}

.plain-column {
    float: left;
}